.galleryDiv{
    margin: 40px 0;
}
.galleryMainImg{
    max-width: 40%;
    height: auto;
    cursor: pointer;
    border-radius: 10px;
}
.gallerySelectionDiv{
    display: flex;
    overflow: scroll;
    column-gap: 10px;
}
.galleryImg{
    cursor: pointer;
    width: 200px;
    object-fit: cover;
    border-radius: 10px;
}
.modalGalleryImg{
    max-width: 70%;
    height: auto;
    margin: auto;
}
.closeModalBtn{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    color: var(--red);
    border: none;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-color: rgba(0, 0, 0, 0.468);
    overflow: scroll;
    z-index: 10;
}
@media screen and (max-width: 900px){
    .galleryMainImg{
        max-width: 100%;
        margin-bottom: 40px;
        align-self: center;
    }
    .modalGalleryImg{
        max-width: 100%;
        margin: auto;
    }
}