.bannerSection{
    position: relative;
    display: flex;
    margin: 40px 0;
}
.bannerImg{
    max-width: 100%;
    height: auto;
    position: relative;
    border-radius: 10px;
    z-index: 0;
    overflow: hidden;
}
.overlayDiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: rgba(150, 149, 149, 0.867);
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%; 
    translate: -50% -50%;
    border-radius: 20px;
    z-index: 1;
}
.logoOverlay{
    width: 50%;
    filter: drop-shadow(0 5px 2px var(--black));
}
.PleatherWorks{
    font-size: 60px;
    font-family: 'Rye', cursive;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}
.PallHandmadeByMe{
    font-size: 25px;
}
@media screen and (max-width: 1000px) {
    .bannerSection{
        display: block;
        margin: 20px 0 40px 0;
    }
    .overlayDiv{
        position: relative;
        top: 0;
        left: 0;
        translate: 0 0;
        background-color: transparent;
    }
    .logoOverlay{
        width: 100%;
    }
}