header{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-image: url(../../assets/belts.png);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: 70% 28%;
    position: relative;
}
header img{
    height: 70px;
    width: 150px;
    cursor: pointer;
    filter: drop-shadow(0 4px 2px var(--black));
    transition: all 0.5s;
}
.headerLinks{
    display: flex;
    width: 20%;
    justify-content: space-between;
    align-self: flex-end;
    text-decoration: none;
    font-size: 18px;
    padding-bottom: 10px;
    color: var(--black);
}
.headerLinks a{
    padding: 10px;
    border: solid 2px transparent;
    transition: all 0.5s;
}
.headerLinks a:hover{
    background-color: var(--green);
    border-radius: 10px;
    color: var(--blue);
    border: solid 2px black;
    transition: all 0.5s;
}
.headerMobileLinks{
    display: none;
}
.headerLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.5s;
}
.headerLogo:hover{
    color: var(--red);
    filter: drop-shadow(0 0 0 var(--black));
    transition: all 0.5s;
}
header p{
    border-top: solid 1px var(--black);
    border-bottom: solid 1px var(--black);
    cursor: pointer;
    font-size: 12px;
}
.burgerMenuIcon{
    animation: rotateX 0.3s 1 linear;
}
.closeMenuIcon{
    animation: rotateY 0.3s 1 linear;
}
.headerLinksMobile{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 180px;
    justify-content: space-between;
    align-self: flex-end;
    text-decoration: none;
    font-size: 25px;
    color: var(--black);
    position: absolute;
    top: 131px;
    left: 50%;
    translate: -50% 0;
    background-color: var(--green);
    border: solid 1px var(--black);
    border-radius: 0 0 10px 10px;
    z-index: 2;
    overflow: hidden;
    transition: all 1s;
}
.headerLinksMobile a{
    border-bottom: solid 1px var(--black);
    padding: 15px;
}
.headerLinksMobile a:last-child{
    border: none;
}
.headerLinksMobileHide{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 0;
    justify-content: space-between;
    align-self: flex-end;
    font-size: 25px;
    color: var(--white);
    position: absolute;
    top: 131px;
    left: 50%;
    translate: -50% 0;
    background-color: var(--green);
    border: solid 1px var(--black);
    z-index: 2;
    overflow: hidden;
    transition: all 1s;
}
.headerLinksMobileHide a{
    border-bottom: solid 1px var(--black);
    padding: 15px;
}
.headerLinksMobileHide a:last-child{
    border: none;
}

@keyframes rotateY {
    100%{     
        rotate: y 360deg;
    }
}
@keyframes rotateX {
    100%{     
        rotate: x 360deg;
    }
}

@media screen and (max-width: 1200px) {
    header{
        background-position: 70% 20%;
    }
    .headerLinks{
        display: none;
    }
    .headerMobileLinks{
        display: flex;
        font-size: 30px;
    }
}

@media screen and (max-width: 1050px) {
    header{
        background-position: 70% 15%;
    }
}

@media screen and (max-width: 950px) {
    header{
        background-position: 70% 10%;
    }
}

@media screen and (max-width: 850px) {
    header{
        background-position: 70% 3%;
    }
    header img{
        height: 50px;
        width: 100px;
        cursor: pointer;
        filter: drop-shadow(0 4px 2px var(--black));
        transition: all 0.5s;
    }
    .headerLinksMobile{
        top: 111px;
    }
    .headerLinksMobileHide{
        top: 111px;
    }
}

@media screen and (max-width: 670px) {
    header{
        background-image: none;
    }
}