#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Slabo 27px', serif;
}
:root{
  --blue: #337CA0; 
  --red: #D52941; 
  --green: #E2E8CE; 
  --orange: #FF7F11; 
  --black: #262626; 
  --white: #FCFCFC; 
}
a{
  text-decoration: none;
  color: var(--black);
}